<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Blogly</title>
  </head>
  <body>
    <h1>Create a User</h1>

    <form action="" method="POST">
      <label for="first_name">First Name</label>
      <input
        type="text"
        id="first_name"
        name="first_name"
        placeholder="Enter a first name"
      />

      <label for="last_name">Last Name</label>
      <input
        type="text"
        id="last_name"
        name="last_name"
        placeholder="Enter a last name"
      />

      <label for="image_url">Image URL</label>
      <input
        type="text"
        id="image_url"
        name="image_url"
        placeholder="Provide an image of this user"
      />

      <button>Add</button>
    </form>
  </body>
</html>
